@import url('https://fonts.googleapis.com/css?family=Fenix');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Roboto', helvetica neue, sans-serif;
  font-family: 'Fenix', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  white-space-collapse: discard;
}

body {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
  padding-left: 16px;
  height: 84px;
  font-family: 'Fenix';
  font-size: 48px;
  line-height: 96px;
  vertical-align: bottom;
  letter-spacing: 0.75px;
  text-align: left;
  color: #383838;
  border-bottom: 1px #383838 solid;
  bottom: 24px;
}

.body {
  width: inherit;
  margin-right: auto;
  margin-left: auto;
  margin-top: 72px;
}

.function {
  width: 400px;
  text-align: center;
  vertical-align: top;
}

.function > h2 {
  color: #505050;
  margin-bottom: 48px;
}

.vertical {
  width: 0px;
  border-right: 1px #A9A9A9 solid;
  border-left: 1px #A9A9A9 solid;
}

.function, .vertical {
  height: 480px;
  display: inline-block;
}

.function > hr {
  /* margin-top: 16px;
  margin-bottom: 16px; */
  margin: 32px auto;
  width: 80%;
  border: 0.75px #D3D3D3 solid;
}

.function-input > input, .function-input > button {
  font-size: 14px;
  font-family: 'Lato';
  line-height: 32px;
  color: #383838;
}

.function-input > input {
  height: 32px;
  width: 200px;
  margin-right: 12px;
}

.function-input > button {
  height: 38px;
  width: 72px;
  padding: 0;
  cursor: pointer;
}
