@import url('https://fonts.googleapis.com/css?family=Fenix');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Roboto', helvetica neue, sans-serif;
  font-family: 'Fenix', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  white-space-collapse: discard;
}

body {
  height: inherit;
  width: inherit;
  color: #4d4d4d;
  margin-left: auto;
  margin-right: auto;
}


h1 {
  font-family: 'Fenix';
  font-size: 48px;
}

.title {
  margin-top: 42px;
  margin-bottom: 84px;
  text-align: center;
}

.contents {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border: 0.5px solid #ccc;
  background-color: #f1f1f1;
}

.tab {
  background-color: #f1f1f1;
  font-family: 'Fenix';
  font-size: 24px;
}

.tab button {
  width: 49.5%;
  height: 48px;
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 0.2px;
  text-align: center;
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.tab button:hover {
  background-color: #505050;
  color: #ffffff;
}

.tab button:focus {
  background-color: #505050;
  color: #ffffff;
}


/* .header button {
  width: 49.7%;
  height: 48px;
  font-family: Fenix;
  line-height: 48px;
  letter-spacing: 0.2px;
  text-align: center;
  display: inline-block;
  background-color: inherit;
}

.header button:hover {
  background-color: #ababab;
}

.header button.active {
  background-color: #ababab;
} */
